<style>
#footer {
  width: fit-content;
  margin: auto;
}
</style>

<div id="footer">
			<div>
				<ul class="navigation">
					<li class="selected">
                        <a href="/jointhegarden">Interested in Joining or Supporting? Click Here!</a>
					</li>
				</ul>
			</div>
		</div>