<!DOCTYPE html>
<html>
<head>
<style>
#header {
  width: fit-content;
  margin: auto;
}

#logo {
  border-radius: 25px;
  margin: auto;
}

ul {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: clamp(0.25rem, 2vw, 3rem);
  border-radius: 25px;
  width: fit-content;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: rgba(80, 102, 41, 0.3);
}

li {
  float: left;
}

li a {
  opacity: 1;
  display: block;
  color: #26220d;
  text-align: center;
  padding: 16px;
  text-decoration: none;
}

li a:hover {
  opacity: 1;
  background-color: #506629;
}

nav {
  padding: 16px;
}
</style>

<body style="background-color: #d3c578";>
<div id="header">
                <div id="logo">
					<a href="/"><img class="center-image" src="images/gardenlogo.png" alt="Paij Wadley Bailey Community Garden" height="125" width="463.66"></a>
				</div>
				<nav id="navigation">
					<ul>
						<li class="selected">
							<a href="/whoweare">Who We Are</a>
						</li>
						<li class="selected">
							<a href="/history">History</a>
						</li>       
                        <li class="selected">
							<a href="/whatwedo">What We Do</a>
						</li>  
                        <li class="selected">
							<a href="/jointhegarden">Donate to the Garden</a>
						</li>                  
					</ul>
				</nav>
			</div>