<div id="header">
                <div id="logo">
					<a href="/"><img src="images/gardenlogo.png" alt="Paij Wadley Bailey Community Garden" height="300" width="1700"></a>
				</div>
				<nav id="navigation">
					<ul>
						<li class="selected">
							<a href="/whoweare">Who We Are</a>
						</li>
						<li class="selected">
							<a href="/history">History</a>
						</li>       
                        <li class="selected">
							<a href="/whatwedo">What We Do</a>
						</li>  
                        <li class="selected">
							<a href="/jointhegarden">Donate to the Garden</a>
						</li>                  
					</ul>
				</nav>
			</div>