body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.page-content {
    background-color: #4f6b25;
    max-width: 1100px;
    margin: 0 auto;
    padding: 2rem;
}

.center-image {
  display: block;
  margin: 2rem auto;
}

.box{
  background-color: #1e290a;
}

.main-page {
  display: grid;
  grid-template-columns: 200px 200px 200px;
  grid-template-rows: 200px 200px;
  gap: 1em;
  grid-template-areas:
    "box1 box1 box2"
    "box1 box1 box3";
}