<!DOCTYPE html>
<html>
  <head>
    <title>{{title}} | PWBH Garden</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    {{> header}}

  <section class="page-content">
    <div class="content-inner">
      {{{body}}}
    </div>
  </section>

    {{> footer}}
  </body>
</html>
