<!DOCTYPE html>
<html>
  <head>
    <title>{{title}} | PWBH Garden</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    {{> header}}

    <main class="page-content">
      {{{body}}}
    </main>

    {{> footer}}
  </body>
</html>
