<h1>{{title}}</h1>
<div class="main-page">
    <p>Welcome to {{title}}</p>
    <div class="box" style="grid-area: box1">
      </div>
      <div class="box" style="grid-area: box2">
        <p>This is for the about page</p>
      </div>
      <div class="box" style="grid-area: box3">
        <p>This is for the donate page</p>
      </div>
</div>