<!DOCTYPE html>
<html>
<head>
<body>
    <h1>{{title}}</h1>
    <p>Welcome to {{title}}</p>
    <div class="main-page">
      <div class="box" style="grid-area: box1">
        <a href="/"><img class="center-image img-responsive" src="images/gardenMain.jpg" alt="Sister Sankofa Naming and Tree Planting Ceremony"></a>
      </div>
      <div class="box" style="grid-area: box2">
        <p>Paij’s Garden is a reparations and food sovereignty project that is led by and centers those whose relationship to the land has been ruptured by dispossession, enslavement, and occupation. We offer plots of land for gardening, access to the materials needed to garden (water, seeds, tools, soil), and access to a community and communal plot where we share wisdom, cultivate food together, and share the excess. Paij’s Garden is a place where folks can cultivate a reciprocal and nourishing relationship to the plants and the earth beneath our feet as well as with each other. To nurture these connections, we host educational and wellness events aimed at building community resilience.</p>
      </div>
      <div class="box" style="grid-area: box3">
        <p>This is for the donate page</p>
      </div>
    </div>
</body> 
</html>


