<!DOCTYPE html>
<html>
<head>
<body>
    <h1>{{title}}</h1>
    <p>Welcome to {{title}}</p>
    <div class="main-page">
      <div class="box image-container" style="grid-area: box1">
        <a href="/"><img class="center-image" src="images/gardenMain.jpg" alt="Sister Sankofa Naming and Tree Planting Ceremony"></a>
      </div>
      <div class="box" style="grid-area: box2">
        <p>This is for the about page</p>
      </div>
      <div class="box" style="grid-area: box3">
        <p>This is for the donate page</p>
      </div>
    </div>
</body> 
</html>


