<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>
<div id="wrapper">
    <div id="mainPic">
        <a href="/"><img src="images/the_most_beautiful_flower_ever.jpg" alt="A white chrysanthemum with red markings on the lower petals and a green center, with green leaves all around it and an orange flower to the upper right" height="125" width="463.66"></a>
    </div>
</div>
{{> textboxMD}}